%a( href="/" class="#{(current_page == "/index.html" ? "current" : "" )}" )
  home
  -#.effect HOME
  .glow &nbsp;
  .wall &nbsp;
%a( href="/ueber-mich" class="#{(current_page == "/ueber-mich.html" ? "current" : "" )}" )
  über mich
  .effect ABOUT ME
%a( href="/web-entwicklung" class="#{(current_page == "/web-entwicklung.html" ? "current" : "" )}" )
  Web
  .effect WEB
%a( href="/software-entwicklung" class="#{(current_page == "/software-entwicklung.html" ? "current" : "" )}" )
  Software
  .effect SOFTWARE
%a( href="/referenzen" class="#{(current_page == "/referenzen.html" ? "current" : "" )}" )
  Projekte
  .effect REFERENCES
%a( href="/kontakt" class="#{(current_page == "/kontakt.html" ? "current" : "" )}" )
  Kontakt
  .effect Contact

